.timeline-card {
  --circle-date: 0.75rem;
  --timeline-width: 0.125rem;
  --padding: 2rem;
  --timeline-content: calc(var(--padding) + 1rem);
  --timeline-margin: calc(var(--timeline-content) / 1.75);

  display: flex;
  flex-direction: column;
  padding: var(--padding);
  padding-left: var(--timeline-content);
  width: 100%;
  position: relative;

  &::before {
    --top: calc(var(--padding) + var(--circle-date) + 2px);
    content: "";
    display: flex;
    position: absolute;
    margin-left: calc(
      -1 * var(--timeline-margin) - var(--timeline-width) / 2 + var(
          --circle-date
        ) / 2
    );
    background: var(--color-ui-accent);
    width: var(--timeline-width);
    top: var(--top);
    height: calc(100% - var(--circle-date) + 3px);
  }

  &:last-of-type::before {
    height: calc(100% - var(--circle-date) - 2px - var(--padding));
  }
}

.timeline-card-date {
  @apply text-xs font-medium sm:text-sm;
  color: var(--color-ui-accent);
  margin-bottom: 0.5rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    margin-left: calc(-1 * var(--timeline-margin));
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    width: var(--circle-date);
    height: var(--circle-date);
    border: 2px solid var(--color-ui-accent);
    border-radius: 50%;
  }

  &:last-of-type::before {
    background: var(--color-ui-accent);
  }
}
