@use "sass:map";
@use "src/styles/_tools/variables/breakpoints" as *;

@mixin media-up($bp) {
  $breakpoint: map.get($breakpoints, $bp);

  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin media-down($bp) {
  $breakpoint: map.get($breakpoints, $bp);

  @media (max-width: ($breakpoint - 0.02px)) {
    @content;
  }
}

@mixin media-between($down, $up) {
  @if ($down == $up) {
    @warn "Either `$down` or `$up` must be defined.";
  }
  $bp-down: map.get($breakpoints, $down);
  $bp-up: map.get($breakpoints, $up);

  @if ($bp-down == none) {
    @warn "The breakpoint `#{$down}` must be defined.";
  } @else if ($bp-up == none) {
    @warn "The breakpoint `#{$up}` must be defined.";
  }

  @media (max-width: $bp-down) and (min-width: $bp-up) {
    @content;
  }
}
