/**
* @mixin text
* @param {$font-sizes} $size
* @param {$font-lines-height} $lh
* @param {Number} $weight
*/
@mixin typography-text($size: base, $lh: base, $weight: none) {
  font-size: var(--text-#{$size});
  line-height: var(--text-lh-#{$lh});
  @if ($weight != none) {
    font-weight: $weight;
  }
}

/**
* @mixin typography
* @param {$font-} $type
* @param {$font-lines-height} $lh
* @param {Number} $weight
*/
@mixin typography-type($type: body, $weight: none) {
  font-size: var(--text-#{$type});
  line-height: var(--text-lh-#{$type});
  @if ($weight != none) {
    font-weight: $weight;
  } @else {
    font-weight: var(--text-weight-#{$type});
  }
}
