@use "/src/styles/_tools/mixins/media" as *;

[data-theme="dark"] .skills {
  --text-color: var(--ui-04);
  --bg-color: var(--ui-01);

  &-skill {
    --text-color: var(--text-primary);
  }
}

.skills {
  --bg-color: var(--ui-04);
  --text-color: var(--bg);
  color: var(--text-color);
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: var(--bg-color);
  overflow: hidden;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
  }

  &-skills {
    display: flex;
    flex-wrap: nowrap;
    gap: 4rem;
    width: max-content;
    animation: carousel 25s infinite linear;
  }

  &-skill {
    --size: 80px;
    --text-color: var(--cool-gray-300);
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: center;
    color: var(--text-color);
    height: var(--size);
    text-align: center;

    svg {
      flex: 1 1 0;
      font-size: var(--size);
      width: 100%;
      height: 100%;
    }

    @include media-up(xl) {
      --size: 96px;

      svg {
        font-size: var(--text-lg);
      }
    }
  }
}

@keyframes carousel {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-120%);
  }
}
