@use "sass:map";

// $cool-gray-50: #fbfaff !default;
// $cool-gray-800: #141429 !default;
// $cool-gray-900: #06011a !default;

$cool-gray-50: #fbfaff !default;
$cool-gray-100: #e3e1e9 !default;
$cool-gray-200: #cac8d1 !default;
$cool-gray-300: #ababba !default;
$cool-gray-400: #8f8fa3 !default;
$cool-gray-500: #6c6c93 !default;
$cool-gray-600: #52527a !default;
$cool-gray-700: #363663 !default;
$cool-gray-800: #141429 !default;
$cool-gray-900: #06011a !default;

$cool-gray: (
  50: $cool-gray-50,
  100: $cool-gray-100,
  200: $cool-gray-200,
  300: $cool-gray-300,
  400: $cool-gray-400,
  500: $cool-gray-500,
  600: $cool-gray-600,
  700: $cool-gray-700,
  800: $cool-gray-800,
  900: $cool-gray-900,
) !default;

$palette: (
  primary: #ff734e,
  secondary: #ffffff,
  light: map.get($cool-gray, 50),
  dark: map.get($cool-gray, 900),
) !default;

$primary: map.get($palette, primary) !default;
$secondary: map.get($palette, secondary) !default;
$light: map.get($palette, light) !default;
$dark: map.get($palette, dark) !default;

$palette-light: (
  primary: map.get($palette, primary),
  secondary: map.get($palette, secondary),
) !default;

$ui-ligth: (
  bg: map.get($cool-gray, 100),
  ui-01: map.get($cool-gray, 50),
  ui-02: map.get($cool-gray, 200),
  ui-03: map.get($cool-gray, 300),
  ui-04: map.get($cool-gray, 900),
  ui-05: map.get($cool-gray, 700),
) !default;

$typography-ligth: (
  heading: map.get($cool-gray, 900),
  primary: map.get($cool-gray, 800),
  secondary: map.get($cool-gray, 700),
  inverted: map.get($cool-gray, 50),
  disabled: map.get($cool-gray, 600),
  muted: map.get($cool-gray, 500),
);

/*
** Dark theme
*********************/

$palette-dark: (
  primary: map.get($palette, primary),
  secondary: map.get($palette, secodary),
) !default;

$ui-dark: (
  bg: map.get($palette, dark),
  ui-01: map.get($cool-gray, 800),
  ui-02: map.get($cool-gray, 700),
  ui-03: map.get($cool-gray, 600),
  ui-04: map.get($cool-gray, 50),
  ui-05: map.get($cool-gray, 200),
) !default;

$typography-dark: (
  heading: map.get($cool-gray, 50),
  primary: map.get($cool-gray, 100),
  secondary: map.get($cool-gray, 300),
  inverted: map.get($cool-gray, 900),
  disabled: map.get($cool-gray, 600),
  muted: map.get($cool-gray, 500),
);
