@use "src/styles/_tools/variables/colors" as *;
@use "src/styles/_tools/mixins/transitions" as *;
@use "src/styles/_tools/mixins/typography" as *;
@use "src/styles/_tools/mixins/media" as *;

[data-theme="dark"] .Footer {
  background-color: var(--cool-gray-800);
}

.Footer {
  padding-top: 5rem;
  background-color: var(--cool-gray-900);
  color: var(--cool-gray-50);

  &-content {
    display: flex;
    padding-bottom: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-bottom {
    border-top: 1px solid var(--cool-gray-700);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-message {
    text-align: center;

    &-follow {
      text-align: center;
      margin-bottom: 1.5rem;
      @include typography-type(title, 700);
    }

    .logo {
      display: inline-flex;
      vertical-align: middle;
      width: var(--text-lg);
      filter: brightness(500%);
    }
  }

  &-links {
    display: flex;
    gap: 0.5rem;
  }

  &-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;

    &-link {
      color: var(--cool-gray-50);
      @include typography-type(icon);
    }
  }
}
