@use "/src/styles/_tools/mixins/typography" as *;
@use "/src/styles/_tools/mixins/transitions" as *;
@use "/src/styles/_tools/mixins/media" as *;

$stars-color-1: var(--ui-04);
$stars-color-2: var(--ui-04);

$stars1:
  779px 1331px $stars-color-1,
  324px 42px $stars-color-1,
  303px 586px $stars-color-1,
  1312px 276px $stars-color-1,
  451px 625px $stars-color-1,
  521px 1931px $stars-color-1,
  1087px 1871px $stars-color-1,
  36px 1546px $stars-color-1,
  132px 934px $stars-color-1,
  1698px 901px $stars-color-1,
  1418px 664px $stars-color-1,
  1448px 1157px $stars-color-1,
  1084px 232px $stars-color-1,
  347px 1776px $stars-color-1,
  1722px 243px $stars-color-1,
  1629px 835px $stars-color-1,
  479px 969px $stars-color-1,
  1231px 960px $stars-color-1,
  586px 384px $stars-color-1,
  164px 527px $stars-color-1,
  8px 646px $stars-color-1,
  1150px 1126px $stars-color-1,
  665px 1357px $stars-color-1,
  1556px 1982px $stars-color-1,
  1260px 1961px $stars-color-1,
  1675px 1741px $stars-color-1,
  1843px 1514px $stars-color-1,
  718px 1628px $stars-color-1,
  242px 1343px $stars-color-1,
  1497px 1880px $stars-color-1,
  1364px 230px $stars-color-1,
  1739px 1302px $stars-color-1,
  636px 959px $stars-color-1,
  304px 686px $stars-color-1,
  614px 751px $stars-color-1,
  1935px 816px $stars-color-1,
  1428px 60px $stars-color-1,
  355px 335px $stars-color-1,
  1594px 158px $stars-color-1,
  90px 60px $stars-color-1,
  1553px 162px $stars-color-1,
  1239px 1825px $stars-color-1,
  1945px 587px $stars-color-1,
  749px 1785px $stars-color-1,
  1987px 1172px $stars-color-1,
  1301px 1237px $stars-color-1,
  1039px 342px $stars-color-1,
  1585px 1481px $stars-color-1,
  995px 1048px $stars-color-1,
  524px 932px $stars-color-1,
  214px 413px $stars-color-1,
  1701px 1300px $stars-color-1,
  1037px 1613px $stars-color-1,
  1871px 996px $stars-color-1,
  1360px 1635px $stars-color-1,
  1110px 1313px $stars-color-1,
  412px 1783px $stars-color-1,
  1949px 177px $stars-color-1,
  903px 1854px $stars-color-1,
  700px 1936px $stars-color-1,
  378px 125px $stars-color-1,
  308px 834px $stars-color-1,
  1118px 962px $stars-color-1,
  1350px 1929px $stars-color-1,
  781px 1811px $stars-color-1,
  561px 137px $stars-color-1,
  757px 1148px $stars-color-1,
  1670px 1979px $stars-color-1,
  343px 739px $stars-color-1,
  945px 795px $stars-color-1,
  576px 1903px $stars-color-1,
  1078px 1436px $stars-color-1,
  1583px 450px $stars-color-1,
  1366px 474px $stars-color-1,
  297px 1873px $stars-color-1,
  192px 162px $stars-color-1,
  1624px 1633px $stars-color-1,
  59px 453px $stars-color-1,
  82px 1872px $stars-color-1,
  1933px 498px $stars-color-1,
  1966px 1974px $stars-color-1,
  1975px 1688px $stars-color-1,
  779px 314px $stars-color-1,
  1858px 1543px $stars-color-1,
  73px 1507px $stars-color-1,
  1693px 975px $stars-color-1,
  1683px 108px $stars-color-1,
  1768px 1654px $stars-color-1,
  654px 14px $stars-color-1,
  494px 171px $stars-color-1,
  1689px 1895px $stars-color-1,
  1660px 263px $stars-color-1,
  1031px 903px $stars-color-1,
  1203px 1393px $stars-color-1,
  1333px 1421px $stars-color-1,
  1113px 41px $stars-color-1,
  1206px 1645px $stars-color-1,
  1325px 1635px $stars-color-1,
  142px 388px $stars-color-1,
  572px 215px $stars-color-1,
  1535px 296px $stars-color-1,
  1419px 407px $stars-color-1,
  1379px 1003px $stars-color-1,
  329px 469px $stars-color-1,
  1791px 1652px $stars-color-1,
  935px 1802px $stars-color-1,
  1330px 1820px $stars-color-1,
  421px 1933px $stars-color-1,
  828px 365px $stars-color-1,
  275px 316px $stars-color-1,
  707px 960px $stars-color-1,
  1605px 1554px $stars-color-1,
  625px 58px $stars-color-1,
  717px 1697px $stars-color-1,
  1669px 246px $stars-color-1,
  1925px 322px $stars-color-1,
  1154px 1803px $stars-color-1,
  1929px 295px $stars-color-1,
  1248px 240px $stars-color-1,
  1045px 1755px $stars-color-1,
  166px 942px $stars-color-1,
  1888px 1773px $stars-color-1,
  678px 1963px $stars-color-1,
  1370px 569px $stars-color-1,
  1974px 1400px $stars-color-1,
  1786px 460px $stars-color-1,
  51px 307px $stars-color-1,
  784px 1400px $stars-color-1,
  730px 1258px $stars-color-1,
  1712px 393px $stars-color-1,
  416px 170px $stars-color-1,
  1797px 1932px $stars-color-1,
  572px 219px $stars-color-1,
  1557px 1856px $stars-color-1,
  218px 8px $stars-color-1,
  348px 1334px $stars-color-1,
  469px 413px $stars-color-1,
  385px 1738px $stars-color-1,
  1357px 1818px $stars-color-1,
  240px 942px $stars-color-1,
  248px 1847px $stars-color-1,
  1535px 806px $stars-color-1,
  236px 1514px $stars-color-1,
  1429px 1556px $stars-color-1,
  73px 1633px $stars-color-1,
  1398px 1121px $stars-color-1,
  671px 1301px $stars-color-1,
  1404px 1663px $stars-color-1,
  740px 1018px $stars-color-1,
  1600px 377px $stars-color-1,
  785px 514px $stars-color-1,
  112px 1084px $stars-color-1,
  1915px 1887px $stars-color-1,
  1463px 1848px $stars-color-1,
  687px 1115px $stars-color-1,
  1268px 1768px $stars-color-1,
  1729px 1425px $stars-color-1,
  1284px 1022px $stars-color-1,
  801px 974px $stars-color-1,
  1975px 1317px $stars-color-1,
  1354px 834px $stars-color-1,
  1446px 1484px $stars-color-1,
  1283px 1786px $stars-color-1,
  11px 523px $stars-color-1,
  1842px 236px $stars-color-1,
  1355px 654px $stars-color-1,
  429px 7px $stars-color-1,
  1033px 1128px $stars-color-1,
  157px 297px $stars-color-1,
  545px 635px $stars-color-1,
  52px 1080px $stars-color-1,
  827px 1520px $stars-color-1,
  1121px 490px $stars-color-1,
  9px 309px $stars-color-1,
  1744px 1586px $stars-color-1,
  1014px 417px $stars-color-1,
  1534px 524px $stars-color-1,
  958px 552px $stars-color-1,
  1403px 1496px $stars-color-1,
  387px 703px $stars-color-1,
  1522px 548px $stars-color-1,
  1355px 282px $stars-color-1,
  1532px 601px $stars-color-1,
  1838px 790px $stars-color-1,
  290px 259px $stars-color-1,
  295px 598px $stars-color-1,
  1601px 539px $stars-color-1,
  1561px 1272px $stars-color-1,
  34px 1922px $stars-color-1,
  1024px 543px $stars-color-1,
  467px 369px $stars-color-1,
  722px 333px $stars-color-1,
  1976px 1255px $stars-color-1,
  766px 983px $stars-color-1,
  1582px 1285px $stars-color-1,
  12px 512px $stars-color-1,
  617px 1410px $stars-color-1,
  682px 577px $stars-color-1,
  1334px 1438px $stars-color-1,
  439px 327px $stars-color-1,
  1617px 1661px $stars-color-1,
  673px 129px $stars-color-1,
  794px 941px $stars-color-1,
  1386px 1902px $stars-color-1,
  37px 1353px $stars-color-1,
  1467px 1353px $stars-color-1,
  416px 18px $stars-color-1,
  187px 344px $stars-color-1,
  200px 1898px $stars-color-1,
  1491px 1619px $stars-color-1,
  811px 347px $stars-color-1,
  924px 1827px $stars-color-1,
  945px 217px $stars-color-1,
  1735px 1228px $stars-color-1,
  379px 1890px $stars-color-1,
  79px 761px $stars-color-1,
  825px 1837px $stars-color-1,
  1980px 1558px $stars-color-1,
  1308px 1573px $stars-color-1,
  1488px 1726px $stars-color-1,
  382px 1208px $stars-color-1,
  522px 595px $stars-color-1,
  1277px 1898px $stars-color-1,
  354px 552px $stars-color-1,
  161px 1784px $stars-color-1,
  614px 251px $stars-color-1,
  526px 1576px $stars-color-1,
  17px 212px $stars-color-1,
  179px 996px $stars-color-1,
  467px 1208px $stars-color-1,
  1944px 1838px $stars-color-1,
  1140px 1093px $stars-color-1,
  858px 1007px $stars-color-1,
  200px 1064px $stars-color-1,
  423px 1964px $stars-color-1,
  1945px 439px $stars-color-1,
  1377px 689px $stars-color-1,
  1120px 1437px $stars-color-1,
  1876px 668px $stars-color-1,
  907px 1324px $stars-color-1,
  343px 1976px $stars-color-1,
  1816px 1501px $stars-color-1,
  1849px 177px $stars-color-1,
  647px 91px $stars-color-1,
  1984px 1012px $stars-color-1,
  1336px 1300px $stars-color-1,
  128px 648px $stars-color-1,
  305px 1060px $stars-color-1,
  1324px 826px $stars-color-1,
  1263px 1314px $stars-color-1,
  1801px 629px $stars-color-1,
  1614px 1555px $stars-color-1,
  1634px 90px $stars-color-1,
  1603px 452px $stars-color-1,
  891px 1984px $stars-color-1,
  1556px 1906px $stars-color-1,
  121px 68px $stars-color-1,
  1676px 1714px $stars-color-1,
  516px 936px $stars-color-1,
  1947px 1492px $stars-color-1,
  1455px 1519px $stars-color-1,
  45px 602px $stars-color-1,
  205px 1039px $stars-color-1,
  793px 172px $stars-color-1,
  1562px 1739px $stars-color-1,
  1056px 110px $stars-color-1,
  1512px 379px $stars-color-1,
  1795px 1621px $stars-color-1,
  1848px 607px $stars-color-1,
  262px 1719px $stars-color-1,
  477px 991px $stars-color-1,
  483px 883px $stars-color-1,
  1239px 1197px $stars-color-1,
  1496px 647px $stars-color-1,
  1649px 25px $stars-color-1,
  1491px 1946px $stars-color-1,
  119px 996px $stars-color-1,
  179px 1472px $stars-color-1,
  1341px 808px $stars-color-1,
  1565px 1700px $stars-color-1,
  407px 1544px $stars-color-1,
  1754px 357px $stars-color-1,
  1288px 981px $stars-color-1,
  902px 1997px $stars-color-1,
  1755px 1668px $stars-color-1,
  186px 877px $stars-color-1,
  1202px 1882px $stars-color-1,
  461px 1213px $stars-color-1,
  1400px 748px $stars-color-1,
  1969px 1899px $stars-color-1,
  809px 522px $stars-color-1,
  514px 1219px $stars-color-1,
  374px 275px $stars-color-1,
  938px 1973px $stars-color-1,
  357px 552px $stars-color-1,
  144px 1722px $stars-color-1,
  1572px 912px $stars-color-1,
  402px 1858px $stars-color-1,
  1544px 1195px $stars-color-1,
  667px 1257px $stars-color-1,
  727px 1496px $stars-color-1,
  993px 232px $stars-color-1,
  1772px 313px $stars-color-1,
  1040px 1590px $stars-color-1,
  1204px 1973px $stars-color-1,
  1268px 79px $stars-color-1,
  1555px 1048px $stars-color-1,
  986px 1707px $stars-color-1,
  978px 1710px $stars-color-1,
  713px 360px $stars-color-1,
  407px 863px $stars-color-1,
  461px 736px $stars-color-1,
  284px 1608px $stars-color-1,
  103px 430px $stars-color-1,
  1283px 1319px $stars-color-1,
  977px 1186px $stars-color-1,
  1966px 1516px $stars-color-1,
  1287px 1129px $stars-color-1,
  70px 1098px $stars-color-1,
  1189px 889px $stars-color-1,
  1126px 1734px $stars-color-1,
  309px 1292px $stars-color-1,
  879px 764px $stars-color-1,
  65px 473px $stars-color-1,
  1003px 1959px $stars-color-1,
  658px 791px $stars-color-1,
  402px 1576px $stars-color-1,
  35px 622px $stars-color-1,
  529px 1589px $stars-color-1,
  164px 666px $stars-color-1,
  1876px 1290px $stars-color-1,
  1541px 526px $stars-color-1,
  270px 1297px $stars-color-1,
  440px 865px $stars-color-1,
  1500px 802px $stars-color-1,
  182px 1754px $stars-color-1,
  1264px 892px $stars-color-1,
  272px 1249px $stars-color-1,
  1289px 1535px $stars-color-1,
  190px 1646px $stars-color-1,
  955px 242px $stars-color-1,
  1456px 1597px $stars-color-1,
  1727px 1983px $stars-color-1,
  635px 801px $stars-color-1,
  226px 455px $stars-color-1,
  1396px 1710px $stars-color-1,
  849px 1863px $stars-color-1,
  237px 1264px $stars-color-1,
  839px 140px $stars-color-1,
  1122px 735px $stars-color-1,
  1280px 15px $stars-color-1,
  1318px 242px $stars-color-1,
  1819px 1148px $stars-color-1,
  333px 1392px $stars-color-1,
  1949px 553px $stars-color-1,
  1878px 1332px $stars-color-1,
  467px 548px $stars-color-1,
  1812px 1082px $stars-color-1,
  1067px 193px $stars-color-1,
  243px 156px $stars-color-1,
  483px 1616px $stars-color-1,
  1714px 933px $stars-color-1,
  759px 1800px $stars-color-1,
  1822px 995px $stars-color-1,
  1877px 572px $stars-color-1,
  581px 1084px $stars-color-1,
  107px 732px $stars-color-1,
  642px 1837px $stars-color-1,
  166px 1493px $stars-color-1,
  1555px 198px $stars-color-1,
  819px 307px $stars-color-1,
  947px 345px $stars-color-1,
  827px 224px $stars-color-1,
  927px 1394px $stars-color-1,
  540px 467px $stars-color-1,
  1093px 405px $stars-color-1,
  1140px 927px $stars-color-1,
  130px 529px $stars-color-1,
  33px 1980px $stars-color-1,
  1147px 1663px $stars-color-1,
  1616px 1436px $stars-color-1,
  528px 710px $stars-color-1,
  798px 1100px $stars-color-1,
  505px 1480px $stars-color-1,
  899px 641px $stars-color-1,
  1909px 1949px $stars-color-1,
  1311px 964px $stars-color-1,
  979px 1301px $stars-color-1,
  1393px 969px $stars-color-1,
  1793px 1886px $stars-color-1,
  292px 357px $stars-color-1,
  1196px 1718px $stars-color-1,
  1290px 1994px $stars-color-1,
  537px 1973px $stars-color-1,
  1181px 1674px $stars-color-1,
  1740px 1566px $stars-color-1,
  1307px 265px $stars-color-1,
  922px 522px $stars-color-1,
  1892px 472px $stars-color-1,
  384px 1746px $stars-color-1,
  392px 1098px $stars-color-1,
  647px 548px $stars-color-1,
  390px 1498px $stars-color-1,
  1246px 138px $stars-color-1,
  730px 876px $stars-color-1,
  192px 1472px $stars-color-1,
  1790px 1789px $stars-color-1,
  928px 311px $stars-color-1,
  1253px 1647px $stars-color-1,
  747px 1921px $stars-color-1,
  1561px 1025px $stars-color-1,
  1533px 1292px $stars-color-1,
  1985px 195px $stars-color-1,
  728px 729px $stars-color-1,
  1712px 1936px $stars-color-1,
  512px 1717px $stars-color-1,
  1528px 483px $stars-color-1,
  313px 1642px $stars-color-1,
  281px 1849px $stars-color-1,
  1212px 799px $stars-color-1,
  435px 1191px $stars-color-1,
  1422px 611px $stars-color-1,
  1718px 1964px $stars-color-1,
  411px 944px $stars-color-1,
  210px 636px $stars-color-1,
  1502px 1295px $stars-color-1,
  1434px 349px $stars-color-1,
  769px 60px $stars-color-1,
  747px 1053px $stars-color-1,
  789px 504px $stars-color-1,
  1436px 1264px $stars-color-1,
  1893px 1225px $stars-color-1,
  1394px 1788px $stars-color-1,
  1108px 1317px $stars-color-1,
  1673px 1395px $stars-color-1,
  854px 1010px $stars-color-1,
  1705px 80px $stars-color-1,
  1858px 148px $stars-color-1,
  1729px 344px $stars-color-1,
  1388px 664px $stars-color-1,
  895px 406px $stars-color-1,
  1479px 157px $stars-color-1,
  1441px 1157px $stars-color-1,
  552px 1900px $stars-color-1,
  516px 364px $stars-color-1,
  1647px 189px $stars-color-1,
  1427px 1071px $stars-color-1,
  785px 729px $stars-color-1,
  1080px 1710px $stars-color-1,
  504px 204px $stars-color-1,
  1177px 1622px $stars-color-1,
  657px 34px $stars-color-1,
  1296px 1099px $stars-color-1,
  248px 180px $stars-color-1,
  1212px 1568px $stars-color-1,
  667px 1562px $stars-color-1,
  695px 841px $stars-color-1,
  1608px 1247px $stars-color-1,
  751px 882px $stars-color-1,
  87px 167px $stars-color-1,
  607px 1368px $stars-color-1,
  1363px 1203px $stars-color-1,
  1836px 317px $stars-color-1,
  1668px 1703px $stars-color-1,
  830px 1154px $stars-color-1,
  1721px 1398px $stars-color-1,
  1601px 1280px $stars-color-1,
  976px 874px $stars-color-1,
  1743px 254px $stars-color-1,
  1020px 1815px $stars-color-1,
  1670px 1766px $stars-color-1,
  1890px 735px $stars-color-1,
  1379px 136px $stars-color-1,
  1864px 695px $stars-color-1,
  206px 965px $stars-color-1,
  1404px 1932px $stars-color-1,
  1923px 1360px $stars-color-1,
  247px 682px $stars-color-1,
  519px 1708px $stars-color-1,
  645px 750px $stars-color-1,
  1164px 1204px $stars-color-1,
  834px 323px $stars-color-1,
  172px 1350px $stars-color-1,
  213px 972px $stars-color-1,
  1837px 190px $stars-color-1,
  285px 1806px $stars-color-1,
  1047px 1299px $stars-color-1,
  1548px 825px $stars-color-1,
  1730px 324px $stars-color-1,
  1346px 1909px $stars-color-1,
  772px 270px $stars-color-1,
  345px 1190px $stars-color-1,
  478px 1433px $stars-color-1,
  1479px 25px $stars-color-1,
  1994px 1830px $stars-color-1,
  1744px 732px $stars-color-1,
  20px 1635px $stars-color-1,
  690px 1795px $stars-color-1,
  1594px 569px $stars-color-1,
  579px 245px $stars-color-1,
  1398px 733px $stars-color-1,
  408px 1352px $stars-color-1,
  1774px 120px $stars-color-1,
  1152px 1370px $stars-color-1,
  1698px 1810px $stars-color-1,
  710px 1450px $stars-color-1,
  665px 286px $stars-color-1,
  493px 1720px $stars-color-1,
  786px 5px $stars-color-1,
  637px 1140px $stars-color-1,
  764px 324px $stars-color-1,
  927px 310px $stars-color-1,
  938px 1424px $stars-color-1,
  1884px 744px $stars-color-1,
  913px 462px $stars-color-1,
  1831px 1936px $stars-color-1,
  1527px 249px $stars-color-1,
  36px 1381px $stars-color-1,
  1597px 581px $stars-color-1,
  1530px 355px $stars-color-1,
  949px 459px $stars-color-1,
  799px 828px $stars-color-1,
  242px 1471px $stars-color-1,
  654px 797px $stars-color-1,
  796px 594px $stars-color-1,
  1365px 678px $stars-color-1,
  752px 23px $stars-color-1,
  1630px 541px $stars-color-1,
  982px 72px $stars-color-1,
  1733px 1831px $stars-color-1,
  21px 412px $stars-color-1,
  775px 998px $stars-color-1,
  335px 1945px $stars-color-1,
  264px 583px $stars-color-1,
  158px 1311px $stars-color-1,
  528px 164px $stars-color-1,
  1978px 574px $stars-color-1,
  717px 1203px $stars-color-1,
  734px 1591px $stars-color-1,
  1555px 820px $stars-color-1,
  16px 1943px $stars-color-1,
  1625px 1177px $stars-color-1,
  1236px 690px $stars-color-1,
  1585px 1590px $stars-color-1,
  1737px 1728px $stars-color-1,
  721px 698px $stars-color-1,
  1804px 1186px $stars-color-1,
  166px 980px $stars-color-1,
  1850px 230px $stars-color-1,
  330px 1712px $stars-color-1,
  95px 797px $stars-color-1,
  1948px 1078px $stars-color-1,
  469px 939px $stars-color-1,
  1269px 1899px $stars-color-1,
  955px 1220px $stars-color-1,
  1137px 1075px $stars-color-1,
  312px 1293px $stars-color-1,
  986px 1762px $stars-color-1,
  1103px 1238px $stars-color-1,
  428px 1993px $stars-color-1,
  355px 570px $stars-color-1,
  977px 1836px $stars-color-1,
  1395px 1092px $stars-color-1,
  276px 913px $stars-color-1,
  1743px 656px $stars-color-1,
  773px 502px $stars-color-1,
  1686px 1322px $stars-color-1,
  1516px 1945px $stars-color-1,
  1334px 501px $stars-color-1,
  266px 156px $stars-color-1,
  455px 655px $stars-color-1,
  798px 72px $stars-color-1,
  1059px 1259px $stars-color-1,
  1402px 1687px $stars-color-1,
  236px 1329px $stars-color-1,
  1455px 786px $stars-color-1,
  146px 1228px $stars-color-1,
  1851px 823px $stars-color-1,
  1062px 100px $stars-color-1,
  1220px 953px $stars-color-1,
  20px 1826px $stars-color-1,
  36px 1063px $stars-color-1,
  1525px 338px $stars-color-1,
  790px 1521px $stars-color-1,
  741px 1099px $stars-color-1,
  288px 1489px $stars-color-1,
  700px 1060px $stars-color-1,
  390px 1071px $stars-color-1,
  411px 1036px $stars-color-1,
  1853px 1072px $stars-color-1,
  1446px 1085px $stars-color-1,
  1164px 874px $stars-color-1,
  924px 925px $stars-color-1,
  291px 271px $stars-color-1,
  1257px 1964px $stars-color-1,
  1580px 1352px $stars-color-1,
  1507px 1216px $stars-color-1,
  211px 956px $stars-color-1,
  985px 1195px $stars-color-1,
  975px 1640px $stars-color-1,
  518px 101px $stars-color-1,
  663px 1395px $stars-color-1,
  914px 532px $stars-color-1,
  145px 1320px $stars-color-1,
  69px 1397px $stars-color-1,
  982px 523px $stars-color-1,
  257px 725px $stars-color-1,
  1599px 831px $stars-color-1,
  1636px 1513px $stars-color-1,
  1250px 1158px $stars-color-1,
  1132px 604px $stars-color-1,
  183px 102px $stars-color-1,
  1057px 318px $stars-color-1,
  1247px 1835px $stars-color-1,
  1983px 1110px $stars-color-1,
  1077px 1455px $stars-color-1,
  921px 1770px $stars-color-1,
  806px 1350px $stars-color-1,
  1938px 1992px $stars-color-1,
  855px 1260px $stars-color-1,
  902px 1345px $stars-color-1,
  658px 1908px $stars-color-1,
  1845px 679px $stars-color-1,
  712px 1482px $stars-color-1,
  595px 950px $stars-color-1,
  1784px 1992px $stars-color-1,
  1847px 1785px $stars-color-1,
  691px 1004px $stars-color-1,
  175px 1179px $stars-color-1,
  1666px 1911px $stars-color-1,
  41px 61px $stars-color-1,
  971px 1080px $stars-color-1,
  1830px 1450px $stars-color-1,
  1351px 1518px $stars-color-1,
  1257px 99px $stars-color-1,
  1395px 1498px $stars-color-1,
  1117px 252px $stars-color-1,
  1779px 597px $stars-color-1,
  1346px 729px $stars-color-1,
  1108px 1144px $stars-color-1,
  402px 691px $stars-color-1,
  72px 496px $stars-color-1,
  1673px 1604px $stars-color-1,
  1497px 974px $stars-color-1,
  1865px 1664px $stars-color-1,
  88px 806px $stars-color-1,
  918px 77px $stars-color-1,
  244px 1118px $stars-color-1,
  256px 1820px $stars-color-1,
  1851px 1840px $stars-color-1,
  605px 1851px $stars-color-1,
  634px 383px $stars-color-1,
  865px 37px $stars-color-1,
  943px 1024px $stars-color-1,
  1951px 177px $stars-color-1,
  1097px 523px $stars-color-1,
  985px 1700px $stars-color-1,
  1243px 122px $stars-color-1,
  768px 1070px $stars-color-1,
  468px 194px $stars-color-1,
  320px 1867px $stars-color-1,
  1850px 185px $stars-color-1,
  380px 1616px $stars-color-1,
  468px 1294px $stars-color-1,
  1122px 1743px $stars-color-1,
  884px 299px $stars-color-1,
  1300px 1917px $stars-color-1,
  1860px 396px $stars-color-1,
  1270px 990px $stars-color-1,
  529px 733px $stars-color-1,
  1975px 1347px $stars-color-1,
  1885px 685px $stars-color-1,
  226px 506px $stars-color-1,
  651px 878px $stars-color-1,
  1323px 680px $stars-color-1,
  1284px 680px $stars-color-1,
  238px 1967px $stars-color-1,
  911px 174px $stars-color-1,
  1111px 521px $stars-color-1,
  1150px 85px $stars-color-1,
  794px 502px $stars-color-1,
  484px 1856px $stars-color-1,
  1809px 368px $stars-color-1,
  112px 953px $stars-color-1,
  590px 1009px $stars-color-1,
  1655px 311px $stars-color-1,
  100px 1026px $stars-color-1,
  1803px 352px $stars-color-1,
  865px 306px $stars-color-1,
  1077px 1019px $stars-color-1,
  1335px 872px $stars-color-1,
  1647px 1298px $stars-color-1,
  1233px 1387px $stars-color-1,
  698px 1036px $stars-color-1,
  659px 1860px $stars-color-1,
  388px 1412px $stars-color-1,
  1212px 458px $stars-color-1,
  755px 1468px $stars-color-1,
  696px 1654px $stars-color-1,
  1144px 60px $stars-color-1;

$stars2:
  1448px 320px $stars-color-2,
  1775px 1663px $stars-color-2,
  332px 1364px $stars-color-2,
  878px 340px $stars-color-2,
  569px 1832px $stars-color-2,
  1422px 1684px $stars-color-2,
  1946px 1907px $stars-color-2,
  121px 979px $stars-color-2,
  1044px 1069px $stars-color-2,
  463px 381px $stars-color-2,
  423px 112px $stars-color-2,
  523px 1179px $stars-color-2,
  779px 654px $stars-color-2,
  1398px 694px $stars-color-2,
  1085px 1464px $stars-color-2,
  1599px 1869px $stars-color-2,
  801px 1882px $stars-color-2,
  779px 1231px $stars-color-2,
  552px 932px $stars-color-2,
  1057px 1196px $stars-color-2,
  282px 1280px $stars-color-2,
  496px 1986px $stars-color-2,
  1833px 1120px $stars-color-2,
  1802px 1293px $stars-color-2,
  6px 1696px $stars-color-2,
  412px 1902px $stars-color-2,
  605px 438px $stars-color-2,
  24px 1212px $stars-color-2,
  234px 1320px $stars-color-2,
  544px 344px $stars-color-2,
  1107px 170px $stars-color-2,
  1603px 196px $stars-color-2,
  905px 648px $stars-color-2,
  68px 1458px $stars-color-2,
  649px 1969px $stars-color-2,
  744px 675px $stars-color-2,
  1127px 478px $stars-color-2,
  714px 1814px $stars-color-2,
  1486px 526px $stars-color-2,
  270px 1636px $stars-color-2,
  1931px 149px $stars-color-2,
  1807px 378px $stars-color-2,
  8px 390px $stars-color-2,
  1415px 699px $stars-color-2,
  1473px 1211px $stars-color-2,
  1590px 141px $stars-color-2,
  270px 1705px $stars-color-2,
  69px 1423px $stars-color-2,
  1108px 1053px $stars-color-2,
  1946px 128px $stars-color-2,
  371px 371px $stars-color-2,
  1490px 220px $stars-color-2,
  357px 1885px $stars-color-2,
  363px 363px $stars-color-2,
  1896px 1256px $stars-color-2,
  1979px 1050px $stars-color-2,
  947px 1342px $stars-color-2,
  1754px 242px $stars-color-2,
  514px 974px $stars-color-2,
  65px 1477px $stars-color-2,
  1840px 547px $stars-color-2,
  950px 695px $stars-color-2,
  459px 1150px $stars-color-2,
  1124px 1502px $stars-color-2,
  481px 940px $stars-color-2,
  680px 839px $stars-color-2,
  797px 1169px $stars-color-2,
  1977px 1491px $stars-color-2,
  734px 1724px $stars-color-2,
  210px 298px $stars-color-2,
  816px 628px $stars-color-2,
  686px 770px $stars-color-2,
  1721px 267px $stars-color-2,
  1663px 511px $stars-color-2,
  1481px 1141px $stars-color-2,
  582px 248px $stars-color-2,
  1308px 953px $stars-color-2,
  628px 657px $stars-color-2,
  897px 1535px $stars-color-2,
  270px 931px $stars-color-2,
  791px 467px $stars-color-2,
  1336px 1732px $stars-color-2,
  1013px 1653px $stars-color-2,
  1911px 956px $stars-color-2,
  587px 816px $stars-color-2,
  83px 456px $stars-color-2,
  930px 1478px $stars-color-2,
  1587px 1694px $stars-color-2,
  614px 1200px $stars-color-2,
  302px 1782px $stars-color-2,
  1711px 1432px $stars-color-2,
  443px 904px $stars-color-2,
  1666px 714px $stars-color-2,
  1588px 1167px $stars-color-2,
  273px 1075px $stars-color-2,
  1679px 461px $stars-color-2,
  721px 664px $stars-color-2,
  1202px 10px $stars-color-2,
  166px 1126px $stars-color-2,
  331px 1628px $stars-color-2,
  430px 1565px $stars-color-2,
  1585px 509px $stars-color-2,
  640px 38px $stars-color-2,
  822px 837px $stars-color-2,
  1760px 1664px $stars-color-2,
  1122px 1458px $stars-color-2,
  398px 131px $stars-color-2,
  689px 285px $stars-color-2,
  460px 652px $stars-color-2,
  1627px 365px $stars-color-2,
  348px 1648px $stars-color-2,
  819px 1946px $stars-color-2,
  981px 1917px $stars-color-2,
  323px 76px $stars-color-2,
  979px 684px $stars-color-2,
  887px 536px $stars-color-2,
  1348px 1596px $stars-color-2,
  1055px 666px $stars-color-2,
  1402px 1797px $stars-color-2,
  1300px 1055px $stars-color-2,
  937px 238px $stars-color-2,
  1474px 1815px $stars-color-2,
  1144px 1710px $stars-color-2,
  1629px 1087px $stars-color-2,
  911px 919px $stars-color-2,
  771px 819px $stars-color-2,
  403px 720px $stars-color-2,
  163px 736px $stars-color-2,
  1062px 238px $stars-color-2,
  1774px 818px $stars-color-2,
  1874px 1178px $stars-color-2,
  1177px 699px $stars-color-2,
  1244px 1244px $stars-color-2,
  1371px 58px $stars-color-2,
  564px 1515px $stars-color-2,
  1824px 487px $stars-color-2,
  929px 702px $stars-color-2,
  394px 1348px $stars-color-2,
  1161px 641px $stars-color-2,
  219px 1841px $stars-color-2,
  358px 941px $stars-color-2,
  140px 1759px $stars-color-2,
  1019px 1345px $stars-color-2,
  274px 436px $stars-color-2,
  1433px 1605px $stars-color-2,
  1798px 1426px $stars-color-2,
  294px 1848px $stars-color-2,
  1681px 1877px $stars-color-2,
  1344px 1824px $stars-color-2,
  1439px 1632px $stars-color-2,
  161px 1012px $stars-color-2,
  1308px 588px $stars-color-2,
  1789px 582px $stars-color-2,
  721px 1910px $stars-color-2,
  318px 218px $stars-color-2,
  607px 319px $stars-color-2,
  495px 535px $stars-color-2,
  1552px 1575px $stars-color-2,
  1562px 67px $stars-color-2,
  403px 926px $stars-color-2,
  1096px 1800px $stars-color-2,
  1814px 1709px $stars-color-2,
  1882px 1831px $stars-color-2,
  533px 46px $stars-color-2,
  823px 969px $stars-color-2,
  530px 165px $stars-color-2,
  1030px 352px $stars-color-2,
  1681px 313px $stars-color-2,
  338px 115px $stars-color-2,
  1607px 211px $stars-color-2,
  1718px 1184px $stars-color-2,
  1589px 659px $stars-color-2,
  278px 355px $stars-color-2,
  464px 1464px $stars-color-2,
  1165px 277px $stars-color-2,
  950px 694px $stars-color-2,
  1746px 293px $stars-color-2,
  793px 911px $stars-color-2,
  528px 773px $stars-color-2,
  1883px 1694px $stars-color-2,
  748px 182px $stars-color-2,
  1924px 1531px $stars-color-2,
  100px 636px $stars-color-2,
  1473px 1445px $stars-color-2,
  1264px 1244px $stars-color-2,
  850px 1377px $stars-color-2,
  987px 1976px $stars-color-2,
  933px 1761px $stars-color-2,
  922px 1270px $stars-color-2,
  500px 396px $stars-color-2,
  1324px 8px $stars-color-2,
  1967px 1814px $stars-color-2,
  1072px 1401px $stars-color-2,
  961px 37px $stars-color-2,
  156px 81px $stars-color-2,
  1915px 502px $stars-color-2,
  1076px 1846px $stars-color-2,
  152px 1669px $stars-color-2,
  986px 1529px $stars-color-2,
  1667px 1137px $stars-color-2;

$time-show: 1s;

.hero-fantastic {
  background-color: var(--bg);
  color: white;
  min-height: calc(100lvh - 72px);
  width: 100%;
  padding: 2rem 1.5rem;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    border: var(--radius-rounded);
    overflow: hidden;
    animation-name: hero-fantastic-parallax;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &::before {
    box-shadow: $stars1;
    animation-duration: 25s;
  }

  &::after {
    box-shadow: $stars2;
    animation-duration: 16s;
  }

  &-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(
      180deg,
      rgba(var(--bg-rgb), 0) 0%,
      rgba(var(--bg-rgb), 1) 100%
    );
  }

  &-logo {
    display: block;
    width: 200px;
    height: auto;
    animation: zoom-in $time-show forwards;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &-content {
    display: flex;
    background-color: rgba(var(--bg-rgb), 0.5);
    backdrop-filter: blur(3px);
    border-radius: var(--radius-round-lg);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: min(var(--sm-screen), 100%);
    padding: 1.5rem;
    position: relative;
    z-index: 1;

    [data-theme="dark"] &::before {
      --hero-fantastic-square-brightness: brightness(0.75);
    }

    &::before {
      --hero-fantastic-square-brightness: brightness(1.25);
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 50%;
      height: 50%;
      opacity: var(--hero-fantastic-square-opacity);
      filter: blur(1.5px) var(--hero-fantastic-square-brightness);
      border: 4px solid rgba(var(--primary-rgb), 0.35);
      transform: translate(-50%, -50%);
      display: block;
      z-index: -1;
    }
  }

  &-body {
    animation: fade-in ($time-show + 0.5) forwards;
  }

  &-header {
    line-height: var(--text-lh-display);
    margin-bottom: 2rem;
  }

  &-title {
    @include typography-type(title);
    color: var(--primary);
    text-transform: uppercase;
    margin-bottom: 0.5rem;

    @include media-up(sm) {
      @include typography-type(display);
    }
  }

  &-subtitle {
    @include typography-text(lg, lg, 700);
    text-transform: uppercase;
    align-self: start;
    width: max-content;
    color: var(--bg);
    background-color: var(--primary);
    padding: 0.25rem 0.75rem;

    @include media-up(sm) {
      @include typography-text(xl, xl, 700);
    }
  }

  &-description {
    text-align: center;
    color: var(--text-primary);
    @include typography-text(lg, lg);
  }

  &-footer {
    margin-top: 2.5rem;
    animation: fade-in ($time-show + 0.5) forwards;
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hero-fantastic-parallax {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }

  5% {
    opacity: 1;
  }

  @for $i from 1 through 9 {
    #{$i * 10%} {
      @if ($i % 2==0) {
        opacity: 0.25;
      } @else {
        opacity: 1;
      }
    }
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}
