@layer base {
  figcaption[data-rehype-pretty-code-title] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: var(--ui-02); /* Use theme variable */
    color: var(--typo-secondary); /* Use theme variable */
    font-weight: 500;
    font-size: 0.875rem; /* text-sm */
    @apply rounded-t-lg;

    &::after {
      /* Language display */
      font-weight: 500;
      content: attr(data-language);
      color: var(--ui-accent); /* Highlight language */
    }

    /* Remove the fake close buttons */
    &::before {
      content: none;
    }
  }
}
